<section id="footer" class="mt-5 d-none d-xl-block">
  <div class="row bg-eee section-padding py-2">
    <div class="col">
      <h5 class="font-weight-bold my-0">Home Improvement Made Easy.</h5>
    </div>
    <div class="col text-right"><span>Need Help? Please call us at:</span><a class="ml-2 c-blue" href="#">
      1-800-HOME-SUPPLY
        (1-800-888-8888)
      </a></div>
  </div>
  <section id="footer" class="mt-3 section-padding">
    <div class="row">
      <div class="col-3" *ngIf="footerLinks">
        <h5>{{footerLinks.customerService.title}}</h5>
        <ul class="list-unstyled">
          <li *ngFor="let link of footerLinks.customerService.links">
            <a class="nav-item" href="#">
              {{link}}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-3" *ngIf="footerLinks">
        <h5>{{footerLinks.resources.title}}</h5>
        <ul class="list-unstyled">
          <li *ngFor="let link of footerLinks.resources.links">
            <a class="nav-item" href="#">
              {{link}}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-3" *ngIf="footerLinks">
          <h5>{{footerLinks.aboutUs.title}}</h5>
          <ul class="list-unstyled">
            <li *ngFor="let link of footerLinks.aboutUs.links">
              <a class="nav-item" href="#">
                {{link}}
              </a>
            </li>
          </ul>
        </div>
      <div class="col-3">
        <div class="row bg-eee px-2 py-3">
          <div class="col">
            <div class="d-xl-flex align-items-xl-center"><i class="fa fa-credit-card-alt fa-2x"></i><span class="ml-2">Special
                Financing Available everyday*</span></div>
            <div class="row bg-eee p-2">
              <div class="col"><a class="c-blue d-block mb-2" href="#">Pay &amp; Manage Your Card</a><a class="c-blue d-block"
                  href="#">Credit Offers</a></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col px-0 mt-2">
            <p>Get $5 off when you sign up for emails with savings and tips.</p>
            <div class="input-group">
              <div class="input-group-prepend"></div><input class="form-control" type="text">
              <div class="input-group-append"><button class="btn btn-primary button" type="button">Go!</button></div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col d-flex justify-content-between px-0"><i class="fa fa-facebook-official fa-2x c-gray"></i><i class="fa fa-twitter-square fa-2x c-gray"></i><i
              class="fa fa-pinterest-square fa-2x c-gray"></i><i class="fa fa-youtube fa-2x c-gray"></i><i class="fa fa-mobile-phone fa-2x c-gray"></i>
            <i class="fa fa-phone-square fa-2x c-gray"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>