<section id="sidebar">
    <div class="row">
        <div class="col"><span id="heading" class="section-header">Top Filters</span></div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h6 class="font-weight-bold">{{productFilters.brandFilters.title}}</h6>
            <ul class="list-unstyled">
                <li *ngFor="let filter of productFilters.brandFilters.brands" class="mb-2">
                    <mat-checkbox class="" [(ngModel)]="filter.checked" (change)="filterProducts()">
                        {{filter.name}}
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h6 class="font-weight-bold">{{productFilters.priceFilters.title}}</h6>
            <ul class="list-unstyled">
                <li *ngFor="let filter of productFilters.priceFilters.priceRange" class="mb-2">
                    <mat-checkbox class="" [(ngModel)]="filter.checked" (change)="filterProducts()">
                        {{filter.label}}
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <h5>{{productFilters.ratingFilter.title}}</h5>
        <div class="row">
            <div class="col f-1pt2">
                <ngb-rating [(rate)]="productFilters.ratingFilter.rating" [max]=5 (rateChange)="filterProducts()">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star2" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                </ngb-rating>
            </div>
        </div>
    </div>
</section>