#info-section {
    #instruction {
        width: 100%;            
    }
    
    @media(min-width: 768px) {
        #instruction {
            width: 75%;
        }
    }
    
    @media(min-width: 992px) {
        #instruction {
            width: 50%;
        }
    }
    
}

#delivery-section {
    #delivery-top-row {
        border-top: 2px solid ;   
        padding-top: 1rem;
        background: #eee;
    }
}