
#desktop {
    #body {
        li {
            margin-bottom: 0.5rem;
            
            a {
                display: block;
            }
        }
        
        #sidebar {
            .row {
                margin-top: .5rem;
            }
        }
        
        #main-section {
            #banner-col {
                position: relative;                
                
                #banner-text {
                    position: absolute;
                    top: 1rem;
                    left: 2rem;
                }
                
                h1, h4 {
                    font-weight: 900;
                }
            }            
            
            #laundry-appliances-section {
                hr {
                    border: .5px solid !important;
                }
            }
        }        
    }
}

#mobile-section {
    padding: .5rem;
    
    #mobile-shop-by-category {
        .section-header {
            font-size: 1.5rem;
        }
    }
    
    @media (min-width: 768px) {
        padding: .5rem 5rem;
    }
}

$color-orange: #ff6600; 

header {
    #top-row {
        background:  #1d2736;
        color: #d9d9d9;
        
        #appointment {
            background: #ff6600;
            color: #ffffff;   
            padding: 1rem 2rem;
        }
        
        @media(min-width:1200px) {
            padding: 0 11rem;
        }
    }    
    
    #bottom-row {
        #social-icon {
            display: none !important;
        }
        
        .nav-item {
            color: #424242;
            
            a {
                &:hover {
                    color: $color-orange;
                }
            }
             
            .active {
                color: $color-orange;
            }
        }
        
        @media(min-width:992px) {
            #social-icon {
                display: flex!important;
            }
        }
        
        
        
        @media(min-width:1200px) {
            padding: 0 11rem;
        }
        
    }
    
    
}

