<app-header></app-header>

<section id="desktop" class="section-padding d-none d-xl-block">
    <section id="body">
        <div class="row">
            <div class="col-2">
                <app-appliances-sidebar></app-appliances-sidebar>
            </div>
            <div class="col px-0" id="main-section">
                <section id="banner" class="mt-2">
                    <div class="row">
                        <div class="col" id="banner-col"><img class="img-fluid" src="https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/fetch/FetchRules/Partial/GE-kitchen-suite-ASP-KP.jpg">
                            <div id="banner-text">
                                <h1 class="mb-0">UP TO 30% OFF</h1>
                                <h4 class="mb-0"><strong>WITH APPLIANCE SPECIAL BUYS**</strong></h4>
                                <p class="mb-0">Valid 4/18–5/15/2019.</p>
                                <button class="btn btn-primary button" type="button">
                                    <strong>Shop Appliance Savings</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="kitchen-appliances-section">
                    <div class="row mt-5">
                        <div class="col"><span class="section-header">Kitchen Appliances</span></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3 text-center">
                            <img class="img-fluid" src="assets/img/Samsung-smart-refrigerator.jpg">
                            <h5>Refrigerators</h5>
                        </div>
                        <div class="col-3 text-center"><img class="img-fluid" src="assets/img/ranges.png">
                            <h5>Ranges</h5>
                        </div>
                        <div class="col-3 text-center"><img class="img-fluid" src="assets/img/Bosch-L1-Dishwasher-304644783.jpg">
                            <h5>Dishwashers</h5>
                        </div>
                        <div class="col-3 text-center"><img class="img-fluid" src="assets/img/microwaves.png">
                            <h5>Microwaves</h5>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3 text-center"><img class="img-fluid" src="assets/img/samsung-kitchen-appliance-package.png">
                            <h5>Appliance Packages</h5>
                        </div>
                        <div class="col-3 text-center"><img class="img-fluid" src="assets/img/cooktops-2.jpg">
                            <h5>Cooktops</h5>
                        </div>
                        <div class="col-3 text-center"><img class="img-fluid" src="assets/img/wall-ovens-2.png">
                            <h5>Wall Ovens</h5>
                        </div>
                        <div class="col-3 text-center"><img class="img-fluid" src="assets/img/range-hoods.png">
                            <h5>Range Hoods</h5>
                        </div>
                    </div>
                </section>
                <section id="laundry-appliances-section" class="mt-5">
                    <div class="row">
                        <div class="col-3 text-left">
                            <hr class="py-0 w-25 ml-0">
                            <h1>Laundry Appliances<br></h1>
                            <hr class="py-0 w-25 ml-0"><a class="c-blue d-block" href="#">Washers<i class="fa fa-chevron-right ml-1 c-orange"></i></a><a
                                class="c-blue d-block" href="#">Dryers<i class="fa fa-chevron-right ml-1 c-orange"></i></a><a
                                class="c-blue d-block" href="#">Laundry Pairs<i class="fa fa-chevron-right ml-1 c-orange"></i></a></div>
                        <div class="col-9 text-center"><img class="img-fluid" src="assets/img/samsung-laundry-pairs-lead.png"></div>
                    </div>
                    <div class="row mt-5">
                        <div class="col"><img class="img-fluid" src="assets/img/HD-protection-plan.jpg"></div>
                        <div class="col"><img class="img-fluid" src="assets/img/HB-12-Mo-Finance-299-or-more.png"></div>
                    </div>
                </section>
                <section id="small-appliances-section" class="mt-5">
                    <div class="row">
                        <div class="col"><span class="section-header">Small Appliances</span></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/countertop-blenders.jpg">
                            <h6>Countertop Blenders</h6>
                        </div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/small-appliances-toasters.jpg">
                            <h6>Toasters</h6>
                        </div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/countertop-ovens.png">
                            <h6>Countertop Ovens</h6>
                        </div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/DD17-Cat-SA-CoffeeEspressoTea-200x200.jpg">
                            <h6>Coffee &amp; Espresso</h6>
                        </div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/HDH19-Cat-SA-DessertMaker-200x200.jpg">
                            <h6>Dessert Makers</h6>
                        </div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/household-appliances.png">
                            <h6>Household Appliances</h6>
                        </div>
                    </div>
                </section>
                <section id="small-appliances-section" class="mt-5">
                    <div class="row">
                        <div class="col"><span class="section-header">Top Appliance Brands</span></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/whirlpool-appliances-logo.png"></div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/LG-appliances-logo.png"></div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/samsung-appliances-logo.png"></div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/GE-appliances-logo.png"></div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/frigidaire-brand-appliance-logo.jpg"></div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/kitchen-aid-appliances-logo.png"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/maytag-appliances-logo.png"></div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/amana-appliances-logo.png"></div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/hotpoint-appliances-logo.png"></div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/Bosch-appliances-logo.png"></div>
                        <div class="col-2 text-center"><img class="img-fluid" src="assets/img/GE-CAFE-appliance-logo.jpg"></div>
                    </div>
                </section>
                <section id="small-appliances-section" class="mt-5">
                    <div class="row">
                        <div class="col"><span class="section-header">Life Gets Easier With Great Appliances<br></span></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 text-left">
                            <p>Revitalize your home with state-of-the-art appliances to keep your home running smoothly.
                                We offer a vast selection of home appliances that’ll make your everyday tasks easier. Let
                                the washing machine do the laundry and the kitchen appliances do the cooking. Keep the dust
                                and pet dander off your floors with a new vacuum. </p>
                            <p>Consider upgrading your microwave if you haven’t in a while. Look for helpful features like
                                a sensor, which turns off the microwave when the food is done. If you are short on counter
                                space, try an under-the-cabinet microwave.
                            </p>
                            <p>Before you buy any major appliance, make sure you have the right amount of space allotted
                                for it. Refrigerators, for example, typically need to fit into a specific amount of space
                                in the kitchen. Measure first, buy second. Make sure your appliance fits!</p>
                            <p>Buy appliances online with confidence. You can always go into your local Home Supply Store
                                to see for yourself if the appliance you’re looking for is the one you want. The Home Supply
                                Protection Plan is available for your peace of mind, as well. To be sure we’re in your budget,
                                look for our valuable Appliance Offers for household appliance savings.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
<section id="mobile-section" class="mb-2 d-xl-none">
    <section id="banner-section">
        <div class="row">
            <div class="col">
                <h5>Appliances</h5>
            </div>
        </div>
        <div class="row">
            <div class="col"><img class="img-fluid w-100" src="assets/img/GE-kitchen-suite-0418-MOB.jpg">
                <div id="mobile-banner-text">
                    <h4 class="mb-0 font-weight-bold">UP TO 30% OFF</h4>
                    <h6 class="mb-0"><strong>WITH APPLIANCE SPECIAL BUYS**</strong></h6>
                    <p class="mb-0">Valid 4/18–5/15/2019.</p>
                    <button class="btn btn-primary button" type="button" [routerLink]="['/brand', 'Amana']">
                        <strong>Shop Appliance Savings</strong>
                    </button>
                    <i class="fa fa-check c-green"></i>

                </div>
            </div>
        </div>
    </section>
    <section id="mobile-shop-by-category" class="mt-4">
        <div class="row">
            <div class="col"><span class="section-header">Shop by Category</span></div>
        </div>
        <div class="row mb-2">
            <div class="col-6 text-center">
                <img class="img-fluid" src="assets/img/ranges.jpg">
                <h6 class="my-0">Ranges</h6>
            </div>
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/refrigerators.jpg">
                <h6 class="my-0">Refrigerators</h6>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/washers-dryers.jpg">
                <h6 class="my-0">Washers &amp; Dryers</h6>
            </div>
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/Bosch-L1-Dishwasher-304644783.jpg">
                <h6 class="my-0">Dishwashers</h6>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/microwaves.jpg">
                <h6 class="my-0">Microwaves</h6>
            </div>
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/cooktops.jpg">
                <h6 class="my-0">Cooktops</h6>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/wall-ovens.jpg">
                <h6 class="my-0">Wall Ovens</h6>
            </div>
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/range-hoods.jpg">
                <h6 class="my-0">Range Hoods</h6>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/freezers-icemakers.jpg">
                <h6 class="my-0">Freezers &amp; Ice Makers</h6>
            </div>
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/small-appliances.jpg">
                <h6 class="my-0">Small Appliances</h6>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/2019-SBF-Floor-Care-Savings-Upright-Vacuum.png">
                <h6 class="my-0">Vacuums &amp; Floor Care</h6>
            </div>
            <div class="col-6 text-center"><img class="img-fluid" src="assets/img/refrigerators.jpg">
                <h6 class="my-0">Refrigerators</h6>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-center"><img class="img-fluid" src="assets/img/HD-protection-plan-MOB-v2.png"></div>
        </div>
        <div class="row mb-2">
            <div class="col text-center"><img class="img-fluid" src="assets/img/12-2018-TED-6mo-credit-offer-MOB.jpg"></div>
        </div>
    </section>
</section>

<app-footer></app-footer>