<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let pageNo of pageNumbers">
            <a class="page-link" (click)="getPage(pageNo)">{{pageNo}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a>
        </li>

        <li class="page-item">
            <i class="fa fa-check ml-2"></i>
        </li>
    </ul>    
    
</nav>

