<app-header></app-header>

<section id="breadcrumb" class="section-padding py-0">
  <div class="row">
    <div class="col px-0">
      <ol class="breadcrumb bg-white mb-0">
        <li class="breadcrumb-item"><a href="#"><span>Home</span></a></li>
        <li class="breadcrumb-item"><a href="#"><span>Appliances</span></a></li>
        <li class="breadcrumb-item"><a href="#"><span>Ranges</span></a></li>
      </ol>
    </div>
  </div>
</section>
<section id="banner-section" class="section-padding py-0" *ngIf="product">
  <div class="row d-none d-md-block">
    <div class="col"><span>
        <span>Model #</span>
        <span class="ml-1">{{product.model}}</span>
      </span>
      <span class="ml-4">
        <span>Internet #</span>
        <span class="ml-1">300128445</span>
      </span>
      <span class="ml-4">
        <span>Store SO SKU #</span>
        <span class="ml-1">{{product.sku}}</span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-md-flex justify-content-around col-md-12 col-xl-2 order-3 order-xl-0">
      <div class="row d-flex d-md-flex justify-content-center">
        <mat-card *ngFor="let image of displayImages" class="col-3 col-xl-12 mb-4">
          <a data-toggle="modal" (click)="setModalImage(image)" data-target="#displayImageModal">
            <img mat-card-image src="assets/img/{{image}}" alt="Photo of a Shiba Inu">
          </a>
        </mat-card>
      </div>
    </div>
    <div class="col-12 text-center offset-xl-0 offset-md-2 col-md-8 col-xl-5 order-2 order-xl-0">
      <img class="img-fluid" src="assets/img/{{currentImage}}">
    </div>
    <div class="col-12 col-md-12 col-xl-5 order-3" id="prod-desc">
      <div class="row">
        <div class="col">
          <span id="brand">
            <strong>{{product.brand}}</strong>
            <i class="fa fa-chevron-right ml-1 c-orange"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span id="name">{{product.name}}</span>
        </div>
      </div>
      <div class="row ml-pt5">
        <ngb-rating [(rate)]="product.rating" [max]=5 [readonly]="readonly">
          <ng-template let-fill="fill" let-index="index">
            <span class="star2" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
      <div class="row d-none d-md-block">
        <mat-list *ngFor="let feature of product.feature">
          <mat-list-item> {{feature}} </mat-list-item>
        </mat-list>
      </div>
      <div class="row mt-4">
        <div class="col pr-0 mln-pt5">
          <span class="mr-1">
            <img class="img-fluid" src="assets/img/special-buy1.png">
          </span>
          <span id="price" class="mr-1">{{product.price | currency:'USD':'symbol-narrow'}}</span>
          <span class="mr-1 strike-through">
            {{product.list_price | currency:'USD':'symbol-narrow'}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="c-green">
            {{product.list_price - product.price | currency:'USD':'symbol-narrow'}} ({{product.price | percentSaved:product.list_price
            | number:'1.0-0'}}%)
          </span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col"><span></span></div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <span>
            <span>Color/Finish:</span>
            <span class="ml-2 font-weight-bold">{{selectionColor}}</span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a (click)="setImageColor('Black')">
            <img class="img-fluid" src="assets/img/option-black.jpg" [ngClass]="{'blackImgClass' : isBlack}">
          </a>
          <a (click)="setImageColor('Stainless Steel')">
            <img class="img-fluid ml-2 bb-orange" src="assets/img/option-stainless.jpg" [ngClass]="{'stainlessImgClass' : isSteel}">
          </a>
          <a (click)="setImageColor('White')">
            <img class="img-fluid ml-2" src="assets/img/option-white.jpg" [ngClass]="{'whiteImgClass' : isWhite}">
          </a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col c-green" id="free-delivery"><i class="fa fa-truck mr-2"></i><span class="c-green">Free Delivery</span></div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <button mat-raised-button id="btn-add-to-cart" (click)="addToCart()">
            <i class="fa fa-cart-plus mr-2 f-1pt3"></i>
            <strong>Add to Cart</strong>
          </button>
        </div>
      </div>
      <div class="row mt-3 d-none d-sm-block">
        <div class="col d-flex justify-content-start justify-content-sm-center justify-content-md-start justify-content-xl-center"><a
            class="c-blue" href="#"><img class="img-fluid mr-2" src="assets/img/pip-icons-share.png"><span>Share&nbsp;</span></a><a
            class="c-blue mx-3" href="#"><img class="img-fluid mr-2" src="assets/img/pip-icons-heart.png"><span>Save to Favorites</span></a><a
            class="c-blue" href="#"><img class="img-fluid mr-2" src="assets/img/pip-icons-print.png"><span>Print</span></a></div>
      </div>
    </div>
  </div>
</section>
<section id="what-we-offer" class="mt-5 section-padding">
  <div class="row">
    <div class="col"><span class="section-header">What We Offer</span></div>
  </div>
  <div class="row mt-2">
    <div class="col-12 col-md-6 col-xl-3 mb-2">
      <div class="row">
        <div class="col-2"><img class="img-fluid" src="assets/img/pip-icons-nstallation.png"></div>
        <div class="col"><small>Available</small>
          <h5 class="font-weight-bold">INSTALLATION</h5>
          <p>Installation available on most appliances when you purchase required parts</p><a class="c-blue" href="#">Installation
            Requirements
          </a></div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-2">
      <div class="row">
        <div class="col-2"><img class="img-fluid" src="assets/img/pip-icons-haulaway.png"></div>
        <div class="col"><small>Move or</small>
          <h5 class="font-weight-bold"><strong>HAUL AWAY</strong></h5>
          <p>We'll move your old appliance to another room in your house, or haul it away for $20</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-2">
      <div class="row">
        <div class="col-2"><img class="img-fluid" src="assets/img/pip-icons-dollar.png"></div>
        <div class="col"><small>Price Match</small>
          <h5 class="font-weight-bold"><strong>GUARANTEE</strong></h5>
          <p>We will match prices including shipping of any other online competitor</p><a class="c-blue" href="#">Learn More</a></div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-2">
      <div class="row">
        <div class="col-2"><img class="img-fluid" src="assets/img/pip-icons-protect.png"></div>
        <div class="col"><small>The Home Depot Protection Plan</small>
          <h5 class="font-weight-bold"><strong>LET'S PROTECT THIS</strong></h5>
          <p>Get 24/7 support and more with a Home Depot Protection Plan. 5-year and 3-year plans available, starting at
            $40
          </p><a class="c-blue" href="#">Learn More</a></div>
      </div>
    </div>
  </div>
</section>
<section id="product-overview" class="mt-4 section-padding d-none d-md-block">
  <div class="row">
    <div class="col"><span class="section-header">Product Overview</span></div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-xl-6"><img class="img-fluid" src="assets/img/300128445-electric-range-with-extra-large-oven-window.jpg">
      <h5>30-inch Electric Range</h5>
      <p>When you feel like eating in tonight, our ranges make it easy to whip up hot meals or warm up the leftovers. With
        versatile cooking features right at your fingertips, you can bring more "mmm" to the table while getting more bang
        for your buck.
      </p>
    </div>
    <div class="col-12 col-xl-6"><img class="img-fluid" src="assets/img/300128445-bake-assist-temps.jpg">
      <h5>Bake Assist Temps</h5>
      <p>These preset temperature settings make cooking even more convenient. Just select a temperature, press start and
        let the oven do the rest.</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-6 col-xl-3"><img class="img-fluid" src="assets/img/300128445-multiple-elements.jpg">
      <h5>Versatile Cooktop</h5>
      <p>Our multiple element options provide up to 1,800 watts to help you cook more of your favorites at the same time.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-3"><img class="img-fluid" src="assets/img/300128445-easy-touch-controls-plus.jpg">
      <h5>Easy Touch Electronic Controls Plus</h5>
      <p>Quickly select bake or broil temperatures with these extra-large and easy-to-read electronic controls.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-3"><img class="img-fluid" src="assets/img/300128445-large-capacity.jpg">
      <h5>Large Oven Capacity</h5>
      <p>Large Oven Capacity gives you the space you need to make dinner and dessert at the same time.</p>
    </div>
    <div class="col-12 col-md-6 col-xl-3"><img class="img-fluid" src="assets/img/300128445-temp-assure.jpg">
      <h5>TEMP ASSURE Cooking System</h5>
      <p>Distributes heat throughout the entire oven to help comfort food favorites like mom's beef pot roast taste just
        how you like them.</p>
    </div>
  </div>
</section>
<section id="specifications" class="mt-5 section-padding">
  <div class="row">
    <div class="col"><span class="section-header">Specifications</span></div>
  </div>
  <div class="row d-xl-flex align-items-xl-center mt-3">
    <div class="col-12 text-center col-xl-3"><img class="img-fluid" src="assets/img/Amana%20Electric%20Range%20in%20Stainless%20Steel-1.jpg"></div>
    <div class="col">
      <div class="row">
        <div class="col-6 text-left col-md-3 col-xl-3 mb-3">
          <hr class="py-0 w-25 ml-0 mb-2">
          <h6 class="font-weight-bold">Size<br></h6><span class="f-1pt3">30 in.</span></div>
        <div class="col-6 text-left col-md-3 col-xl-3 mb-3">
          <hr class="py-0 w-25 ml-0 mb-2">
          <h6 class="font-weight-bold"><strong>Surface Type</strong><br></h6><span class="f-1pt3">Radiant</span></div>
        <div class="col-6 text-left col-md-3 col-xl-3 mb-3">
          <hr class="py-0 w-25 ml-0 mb-2">
          <h6 class="font-weight-bold"><strong>Range Type</strong><br></h6><span class="f-1pt3">Freestanding</span></div>
        <div class="col-6 text-left col-md-3 col-xl-3 mb-3">
          <hr class="py-0 w-25 ml-0 mb-2">
          <h6 class="font-weight-bold"><strong>Cleaning Type</strong><br></h6><span class="f-1pt3">Manual Clean</span></div>
      </div>
      <div class="row">
        <div class="col-6 text-left col-md-3 col-xl-3">
          <hr class="py-0 w-25 ml-0 mb-2">
          <h6 class="font-weight-bold"><strong>No of Elements</strong><br></h6><span class="f-1pt3">4</span></div>
        <div class="col-6 text-left col-md-3 col-xl-3">
          <hr class="py-0 w-25 ml-0 mb-2">
          <h6 class="font-weight-bold"><strong>Capacity (cu. ft.)</strong><br></h6><span class="f-1pt3">4.8</span></div>
        <div class="col-6 text-left col-md-3 col-xl-3">
          <hr class="py-0 w-25 ml-0 mb-2">
          <h6 class="font-weight-bold"><strong>Features</strong><br></h6><span class="f-1pt3">Broiler</span></div>
        <div class="col-6 text-left col-md-3 col-xl-3">
          <hr class="py-0 w-25 ml-0 mb-2">
          <h6 class="font-weight-bold"><strong>Features</strong><br></h6><span class="f-1pt3">Built-In Timer</span></div>
      </div>
    </div>
  </div>
  <section id="details" class="d-none d-md-block mt-2">
    <div class="row">
      <div class="col-6 pr-2">
        <div class="col">
          <h6 class="font-weight-bold">Dimensions</h6>
        </div>
        <table mat-table [dataSource]="dimensions" class="mat-elevation-z8 w-100">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="col-6 pl-2">
        <div class="col">
          <h6 class="font-weight-bold">Details</h6>
        </div>
        <table mat-table [dataSource]="details" class="mat-elevation-z8 w-100">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </section>
</section>

<app-footer></app-footer>


<div class="container" id="modal" *ngIf="product">
  <div class="row">
    <div class="col">
      <div class="modal fade" role="dialog" tabindex="-1" id="displayImageModal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title">{{product.brand}}</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="c-primary-orange">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="lead">{{product.name}}<br></p>
              <div class="row">
                <div class="col col-md-9">
                  <img class="img-fluid" src="assets/img/{{modalImage}}">
                </div>
                <div class="col col-md-3">
                  <div class="row mb-2" *ngFor="let image of displayImages">
                    <div class="col">
                      <a (click)="setModalImage(image)">
                        <img class="img-fluid" src="assets/img/{{image}}">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>