<app-header></app-header>
<section id="breadcrumb" class="section-padding py-0">
    <div class="row">
        <div class="col px-0">
            <ol class="breadcrumb bg-white mb-0 pb-0">
                <li class="breadcrumb-item"><a href="#"><span>Home</span></a></li>
                <li class="breadcrumb-item"><a href="#"><span>Appliances</span></a></li>
            </ol>
        </div>
    </div>
</section>
<section id="brand-top-section" class="section-padding py-0">
    <div class="row">
        <div class="col"><span>Shop</span><span class="ml-2 font-weight-bold">50</span><span class="ml-2">Appliances</span></div>
    </div>
    <div class="row d-none d-xl-block mt-4">
        <div class="col"><img class="img-fluid" src="assets/img/Amana-Kitchen-Custom-AMA-Kitchen-Browse-Banner-447225.png"></div>
    </div>
</section>
<section id="main-section" class="mt-4 section-padding">
    <!-- <div class="row mb-3">
        <div class="col d-xl-flex justify-content-xl-end">
            <select class="p-1 w-15 border-outset" (change)="sortByProducts($event.target.value)">
                <option *ngFor="let filter of productFilters.sortFilters.filters" [value]="filter.id">
                    {{filter.title}}
                </option>
            </select>
        </div>
    </div> -->

    <div class="row mb-3">
        <div class="col d-xl-flex justify-content-xl-end">
            <mat-form-field>
                <mat-label>Sort By:</mat-label>
                <mat-select (selectionChange)="sortByProducts($event.value)">
                    <mat-option *ngFor="let filter of productFilters.sortFilters.filters" [value]="filter.id">
                        {{filter.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-2 d-none d-xl-block">
            <app-brand-sidebar></app-brand-sidebar>
        </div>
        <div class="col-12 col-xl-10" id="body">
            <div class="row">
                <div class="col-12 col-xl-3 mb-3" *ngFor="let product of products">
                    <div class="row">
                        <div class="col-5 col-md-3 col-xl-12">
                            <a [routerLink]="['/product', product._id]">
                                <img class="img-fluid" src="assets/img/{{product.image[0]}}">
                            </a>
                        </div>
                        <div class="col-7 col-xl-12" id="prod-desc">
                            <div class="row">
                                <div class="col">
                                    <a [routerLink]="['/product', product._id]">
                                        <span class="font-weight-bold">{{product.brand}}</span>
                                        <span class="ml-1">{{product.name}}</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span>Model#</span>
                                    <span class="ml-1">{{product.model}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ngb-rating [(rate)]="product.rating" [max]=5 [readonly]="readonly">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star2" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pr-0 mln-pt5">
                                    <span class="mr-1">
                                        <img class="img-fluid" src="assets/img/special-buy1.png">
                                    </span>
                                    <span id="price" class="mr-1">
                                        {{product.price | currency:'USD':'symbol-narrow'}}
                                    </span>
                                    <span class="mr-1 strike-through">
                                        {{product.list_price | currency:'USD':'symbol-narrow'}}
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="c-green">
                                        Save {{product.list_price - product.price | currency:'USD':'symbol-narrow'}} ({{product.price | percentSaved:product.list_price
                                        | number:'1.0-0'}}%)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col d-flex d-xl-flex justify-content-center">
                    <app-pagination></app-pagination>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>