@import "/app/appliances/appliances.component.scss";
@import "/app/brand/brand.component.scss";
@import "~@angular/material/prebuilt-themes/hdorange.css";

body {
  font-family: 'Roboto';
  color: #333;
}

/* to change arrow when focused */
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow {
  color: #f96302;
}

/* to change underline when focused */
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
  background-color: #f96302;
}

/* to change plceholder text when focused */
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
  color: #f96302;
}

/* to change selected item color in the select list */
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #f96302;
}

.page-wrapper {
  position: relative;

  .overlay {
    position: absolute;
    top: 8.8rem;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 500vh;
    background: rgba(0, 0, 0, 0.5);
    transition: .4s;
    
  }

  #header {
    z-index: 20; 
  }
}

#free-section {
  button {
      width: 288px !important; 
  }
}



.f-1pt2 {
  font-size: 1.2rem;
}
.ml-pt5 {
  margin-left: -0.2rem !important;
}

.border-outset {
  border: outset;
}

.star {
    font-size: 1.5rem;
    color: rgb(204, 204, 204);;
  }
  .star2 {
    font-size: 2rem;
    color: rgb(204, 204, 204);;
  }
  .filled {
    color: #f96302;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  } 

  .mln-pt5 {
    margin-left: -0.5rem;
  }
  
  .strike-through {
    text-decoration: line-through;
  }
  
  .bb-orange {
    border-bottom: 4px solid #f96302;
  }
  
  .border-outset {
    border: outset;
  }
  
  .col-20perc {
    max-width: 20% !important;
  }
  
  .f-pt9 {
    font-size: .9rem;
  }
  
  .f-1pt1 {
    font-size: 1.1rem;
  }
  
  .m-ln-1 {
    margin-left: -1rem;
  }  

  .alert {
    z-index: 100;
  }

  .fa.fa-check {
    color: green !important;
    font-size: 1.1rem;
  }

  .c-orange {
    color: #ff6600
  }
  

  #mobile-nav {
    padding: 0 1rem;
    transition: all .5s;
   
    .multi-level, .item ul {
        display: none;
    }
    
    #menu:checked ~ .multi-level, .item input:checked ~ ul {
        display: block;   
    }
    
    input {
        display: none;        
    }
    
    .fa-bars {
        font-size: 1.4rem;        
    }

    i {
      color: $color-gold; 
  }

    li a {
      color: $color-blue;
      margin-left: 1rem;
  }
    
}

.category-item {   

    &:hover {
        font-weight: 500;
    }
}


  