<div class="container-fluid px-0">
  <app-header></app-header>  
  
  <section id="alert" class="f-1pt2">
    <alert *ngFor="let alert of alerts" [type]="alert.type" dismissOnTimeout="20000" class="text-center alert">
      {{alert.text}}
    </alert>
  </section>

  <section id="top-section" class="section-padding">
    <div class="row">
      <div class="col-12 col-xl-8"><img class="img-fluid d-none d-xl-block" src="assets/img/4-25-TOTG.jpg"><img class="img-fluid d-xl-none"
          src="assets/img/mob-hero-grills.jpg" width="100%">
        <div id="main-img">
          <h1 class="mb-0">TODAY IS THE DAY FOR DOING</h1><span class="f-1pt5 d-block">Your Best Spring Starts With A New
            Grill
          </span><button class="btn btn-primary button mt-1" type="button"><strong>Shop Grills</strong></button></div>
      </div>
      <div class="col-12 col-xl-4" id="top-right-col">
        <div class="row">
          <div class="col"><img class="img-fluid" src="assets/img/4-25-Patio-3.jpg">
            <h5 class="text-left f-roboto-bold mt-1 f-1pt3">UP TO 30% OFF SELECT PATIO FURNITURE</h5>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col"><img class="img-fluid" src="assets/img/4-25-Toro.jpg">
            <h5 class="text-left f-roboto-bold mt-1 f-1pt3"><strong>TORO DAYS SAVINGS ON OUTDOOR POWER</strong></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col"><img class="img-fluid d-none d-xl-block" src="assets/img/Appliances-Suite-stainless-steel-GE.jpg"><img
          class="img-fluid d-xl-none" src="assets/img/4-25-Appliances-mob.jpg">
        <h5 class="text-left f-roboto-bold mt-1 f-1pt3 mt-2"><strong>UP TO 30% OFF WITH APPLIANCE SPECIAL BUYS**</strong></h5>
      </div>
      <div class="col"><img class="img-fluid d-none d-xl-block" src="assets/img/4-25-Garage-Days-2.jpg"><img class="img-fluid d-xl-none"
          src="assets/img/4-25-Garage-Days-Mob.jpg">
        <h5 class="text-left f-roboto-bold mt-1 f-1pt3 mt-2"><strong>RETOOL, RESTOCK AND SAVE</strong><br></h5>
      </div>
    </div>
    <div class="row d-flex d-xl-flex align-items-center align-items-xl-center mt-5 bg-eee py-2 mx-pt5">
      <div class="col-6 col-10perc col-md-2"><img class="img-fluid" src="assets/img/american-spas-hot-tubs-gloryam740lsi-64_400.jpg"></div>
      <div class="col-6 col-xl-1"><img class="img-fluid" src="https://www.homedepot.com/SpecialBuy/images/Logo-SBOTD.svg"></div>
      <div class="col-12 col-xl-6">
        <h3 class="f-roboto-bold">Up to 40% off Select Hot Tub</h3>
      </div>
      <div class="col-12 d-xl-flex ml-auto justify-content-xl-end col-xl-3">
        <button class="btn btn-primary button" type="button">Shop All Savings</button></div>
    </div>
  </section>
  <section id="stay-ahea-heat" class="mt-5 section-padding">
    <div class="row d-none d-xl-block">
      <div class="col"><span class="section-header">Stay Ahead of the Heat</span></div>
    </div>
    <div class="row d-flex align-items-center mt-4">
      <div class="col-6 text-left d-xl-none col-xl-4">
        <hr class="m-0 short-line">
        <h5 class="text-left mt-1 f-2 mt-2">Stay Ahead of the Heat<br></h5>
        <hr class="m-0 short-line">
      </div>
      <div class="col-6 col-xl-4"><img class="img-fluid" src="assets/img/4-25-AC-2.jpg">
        <h5 class="text-center f-roboto-bold mt-1 f-1pt3 mt-2 item-type"><strong>AIR CONDITIONERS</strong><br></h5>
      </div>
      <div class="col-6 col-xl-4"><img class="img-fluid" src="assets/img/4-25-Fans.jpg">
        <h5 class="text-center f-roboto-bold mt-1 f-1pt3 mt-2 item-type"><strong>CEILING FANS</strong><br></h5>
      </div>
      <div class="col-6 col-xl-4"><img class="img-fluid" src="assets/img/4-25-Thermostats.jpg">
        <h5 class="text-center f-roboto-bold mt-1 f-1pt3 mt-2 item-type"><strong>THERMOSTATS</strong><br></h5>
      </div>
    </div>
    <div class="row mt-5 d-none d-xl-flex">
      <div class="col"><img class="img-fluid" src="assets/img/HD-Delivers.png"></div>
      <div class="col"><img class="img-fluid" src="assets/img/BOPIS-and-FREE-Return.png"></div>
    </div>
  </section>
  <section id="your-store" class="mt-5 section-padding">
    <div class="row d-none d-md-block">
      <div class="col"><span class="section-header">You're Shopping Niagara Falls</span></div>
    </div>
    <div class="row d-md-none">
      <div class="col"><span class="section-header">Your Store</span></div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="row d-none d-lg-block">
          <div class="col-12 col-md-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d23260.237253449443!2d-79.7035511!3d43.2193536!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1556284362847!5m2!1sen!2sca"
              width="335" height="235" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title font-weight-bold mb-0">You're Shopping Niagara Falls #1287<br></h5><span class="d-block c-green">OPEN
              Until 10:00 pm</span><span class="d-block mt-2">750 Builders Way</span><span class="d-block">Niagara Falls,
              NY
            </span><span class="d-block">(716) 236-0761</span>
            <div class="d-flex justify-content-between mt-2 pt-2"><a class="c-blue" href="#">Store Details</a><a class="c-blue"
                href="#">Local Ad</a></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 mt-4 mt-xl-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title font-weight-bold mb-0"><strong>Free In-Store Workshops</strong><br></h5>
            <div class="row">
              <div class="col-12 col-md-4">
                <h6 class="font-weight-bold mb-0 mt-4"><strong>Do-It-Yourself</strong></h6><small class="font-weight-bold"><strong>Installing
                    Tile Flooring</strong></small><span class="d-block">Saturday, Apr 27, 2019</span><span class="d-block">10:00
                  AM - 11:30 AM</span></div>
              <div class="col-12 col-md-4">
                <h6 class="font-weight-bold mb-0 mt-4"><strong>Do-It-Herself</strong><br></h6><small class="font-weight-bold"><strong>Pegboard
                    Shelves
                  </strong><br></small><span class="d-block">Saturday, Apr 27, 2019</span><span class="d-block">10:00 AM
                  - 11:30 AM</span></div>
              <div class="col-12 col-md-4">
                <h6 class="font-weight-bold mb-0 mt-4"><strong>Kids</strong><br></h6><small class="font-weight-bold"><strong>Blooming
                    Art
                  </strong><br></small><span class="d-block">Saturday, Apr 27, 2019</span><span class="d-block">10:00 AM
                  - 11:30 AM</span></div>
            </div><a class="card-link c-blue d-block mt-4" href="#">See All Upcoming Workshops &amp; Register</a></div>
        </div>
      </div>
    </div>
  </section>
  <section id="trending" class="mt-5 section-padding d-none d-xl-block">
    <div class="row d-none d-md-block">
      <div class="col"><span class="section-header">Trending In Your Store</span></div>
    </div>
    <div class="row mt-4">
      <div class="col-2 text-center col-xl-2"><img class="img-fluid" src="assets/img/scotts-reel-lawn-mowers-2010-20sg-64_300.jpg">
        <h6>Lawn Mowers</h6>
      </div>
      <div class="col-2 text-center col-xl-2"><img class="img-fluid" src="assets/img/hampton-bay-outdoor-chaise-lounges-fls00036g-w-64_300.jpg">
        <h6>Patio Chairs</h6>
      </div>
      <div class="col-2 text-center col-xl-2"><img class="img-fluid" src="assets/img/scotts-granular-fertilizer-25009-64_300.jpg">
        <h6>Lawn Care</h6>
      </div>
      <div class="col-2 text-center col-xl-2"><img class="img-fluid" src="assets/img/scripto-charcoal-starter-lighters-bgm9-2-8cd-64_300.jpg">
        <h6>Grill Accessories</h6>
      </div>
      <div class="col-2 text-center col-xl-2"><img class="img-fluid" src="assets/img/anvil-leaf-rakes-3915400-64_300.jpg">
        <h6>Garden Tools</h6>
      </div>
      <div class="col-2 text-center col-xl-2"><img class="img-fluid" src="assets/img/travertine-faux-wood-trafficmaster-gym-flooring-24243-wdtr-64_300.jpg">
        <h6>Gym Flooring</h6>
      </div>
    </div>
  </section>
  <section id="popular-categories" class="mt-5 section-padding d-none d-xl-block">
    <div class="row d-none d-md-block">
      <div class="col"><span class="section-header">Popular Categories<br></span></div>
    </div>
    <div class="row mt-4">
      <div class="col-2 text-left col-xl-2"><span>Pool Supplier</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
      <div class="col-2 text-left col-xl-2"><span>Lawn Mowers</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
      <div class="col-2 text-left col-xl-2"><span>Garden Tools</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
      <div class="col-2 text-left col-xl-2"><span>Patio Furniture</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
      <div class="col-2 text-left col-xl-2"><span>Solar Panels</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
      <div class="col-2 text-left col-xl-2"><span>Pest Control</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
    </div>
    <div class="row mt-2">
      <div class="col-2 text-left col-xl-2"><span>Window Blinds</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
      <div class="col-2 text-left col-xl-2"><span>Window Treatments</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
      <div class="col-2 text-left col-xl-2"><span>Window Shades</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
      <div class="col-2 text-left col-xl-2"><span>Ceiling Fans</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
      <div class="col-2 text-left col-xl-2"><span>Refrigerators</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
      <div class="col-2 text-left col-xl-2"><span>Wine Coolers</span><i class="fa fa-chevron-right ml-1 c-orange"></i></div>
    </div>
    <div class="row mt-4">
      <div class="col"><img class="img-fluid" src="assets/img/celebration-of-services-18.jpg"></div>
    </div>
  </section>

  <app-footer></app-footer>
</div>